:root {
  --col-primary: #F45B69;
  --col-primary-shade: #b8414b;
  --col-primary-highlight: #f16b77;
  --col-accent: #59C3C3;
  --col-accent-shade: #50afaf;
  --col-accent-highlight: rgb(91, 197, 197);
  --col-white: #f1f1f1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
