.HeaderContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--col-primary);
    color: var(--col-white);
    margin-bottom: 1em;
    border-bottom: 2px solid var(--col-primary-shade);

}
