.card {
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 0.5em;
    font-size: 1em;
    margin: 1em;
    border-radius: 14px;
}

.cardTranslation {
    justify-content: center;    
    align-items: center;
    align-self: center;
}

.signsContainer {  
    min-height: 8em;
    width: 100%;    
}
